<h1><strong><%= @position.positions_name.upcase %></strong></h1>
<br>
<div class="tab">
  <h4><STRONG>DESCRIPTION</STRONG></h4>
</div>
  <%= render "descriptions/description" %>
<br>
<div class="tab">
  <h4><STRONG>FAMOUS PLAYER</STRONG></h4>
</div>
  <%= render "famous_players/famous_player" %>
  <%= link_to render_icon("back"), sport_positions_path(@sport) %>
<br>
  <% if @sport.name == "Basketball" %>
    <%= link_to render_icon("bball"), sport_path(@sport) %>
  <% elsif @sport.name == "Football" %>
    <%= link_to render_icon("football"), sport_path(@sport) %>
  <% elsif @sport.name == "American Football" %>
    <%= link_to render_icon("american_foot"), sport_path(@sport) %>
  <% elsif @sport.name == "Rugby Union" %>
    <%= link_to render_icon("rugby"), sport_path(@sport) %>
  <% elsif @sport.name == "Volleyball" %>
    <%= link_to render_icon("volleyball"), sport_path(@sport) %>
  <% elsif @sport.name == "Baseball" %>
    <%= link_to render_icon("baseball"), sport_path(@sport) %>
  <% elsif @sport.name == "Ice Hockey" %>
    <%= link_to render_icon("icehockey"), sport_path(@sport) %>
  <% end %>
