<% if current_user && policy(Sport).new? %>
  <div id="admin-add-btn">
    <%= link_to new_sport_path do %>
      <%= render_icon "admin_add" %>
    <% end %>
  </div>
<% end %>

<% @sports.each do |sport| %>
  <%= link_to sport_path(sport) do %>
  <% if sport.name == "Basketball" %>
    <% background_image = 'basketball_jump_shot.jpg' %>
    <% elsif sport.name == "Football" %>
    <% background_image = 'football_dribble.jpg' %>
    <% elsif sport.name == "Rugby Union" %>
    <% background_image = 'rugby.jpg' %>
    <% elsif sport.name == "American Football" %>
    <% background_image = 'american-football-run.jpg' %>
  <% end %>
    <div class="sport-image" style="background-image: url(<%= image_path background_image %>)"><h3><%= sport.name %></h3></div>
  <% end %>
<% end %>
