<h1><%= @sport.name %></h1>
<%= simple_form_for [@sport, @favourite] do |f| %>
<%= f.submit "❤️" %>
<% end %>

<%= link_to "edit this sport", edit_sport_path if policy(Sport).edit?%>

<%= link_to "All sports", sports_path%>
<%= link_to "Chatroom", sport_chatroom_path(@sport, @chatroom) %>
