<h1><%= @sport.name %></h1>
  <div>
    <%= simple_form_for [@sport, @favourite] do |f| %>
    <button type="submit" class="favourite-btn" style= "border: 0">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="-0.5 -0.5 24 24" height="24" width="24">
        <path stroke="#000000" d="M11.5 8.145833333333334V7.174083333333334m0 0.253c0 -2.779166666666667 2.2520833333333337 -5.03125 5.03125 -5.03125s5.03125 2.28275 5.03125 5.061916666666667c0 1.495 -0.6593333333333333 2.927708333333334 -1.8016666666666665 3.8927500000000004l-5.421291666666667 4.577A8.002083333333333 8.002083333333333 0 0 0 11.5 22.041666666666668a8.002083333333333 8.002083333333333 0 0 0 -2.839541666666667 -6.114166666666667L3.2391666666666667 11.3505A5.105041666666667 5.105041666666667 0 0 1 1.4375 7.45775c0 -2.779166666666667 2.2520833333333337 -5.061916666666667 5.03125 -5.061916666666667S11.5 4.647916666666666 11.5 7.427083333333334Z" stroke-width="1"></path>
      </svg>
    </button>
  </div>
<% end %>
<br>

<% if current_user && policy(Sport).edit? %>
  <div id="admin-edit-btn">
    <%= link_to edit_sport_path do %>
      <%= render_icon "admin_edit" %>
    <% end %>
  </div>
<% end %>

<%= link_to "All sports", sports_path%>
<%= link_to "Chatroom", sport_chatroom_path(@sport, @chatroom) %>
<br>
<br>
<div class="tab">
  <h4><STRONG>OVERVIEW</STRONG></h4>
</div>
  <%= render "overviews/overview" %>
<div class="tab">
  <h4><STRONG><%= link_to "POSITIONS", sport_positions_path(@sport) %></STRONG></h4>
</div>

<div class="tab">
  <h4><STRONG>RULES</STRONG></h4>
</div>
  <%= render "rules/rule" %>
<div class="tab">
  <h4><STRONG>TERMINOLOGY</STRONG></h4>
</div>
  <%= render "terminologies/terminology" %>
<div class="tab">
  <h4><STRONG>EQUIPMENT NEEDS</STRONG></h4>
</div>
  <%= render "equipment_needs/equipment_need" %>
<div class="tab">
  <h4><STRONG>HISTORY</STRONG></h4>
</div>
  <%= render "histories/history" %>
