<h1><%= @sport.name %></h1>
  <%= simple_form_for [@sport, @favourite] do |f| %>
    <%= f.submit "❤️" %>
   <% end %>
<br>
<%= link_to "edit this sport", edit_sport_path if current_user && policy(Sport).edit?%>
<%= link_to "All sports", sports_path%>
<%= link_to "Chatroom", sport_chatroom_path(@sport, @chatroom) %>
<br>
<br>
<div data-controller="toggle">
  <div data-action="click->toggle#fire" class="tab">
    <h4><STRONG>OVERVIEW</STRONG></h4>
  </div>
  <div data-toggle-target="togglableElement" class="d-none">
    <%= render "overviews/overview" %>
  </div>
</div>

<div class="tab">
  <h4><STRONG><%= link_to "POSITIONS", sport_positions_path(@sport) %></STRONG></h4>
</div>

<div data-controller="toggle">
  <div data-action="click->toggle#fire" class="tab">
    <h4><STRONG>RULES</STRONG></h4>
  </div>
  <div data-toggle-target="togglableElement" class="d-none">
    <%= render "rules/rule" %>
  </div>
</div>


<div data-controller="toggle">
  <div data-action="click->toggle#fire" class="tab">
    <h4><STRONG>TERMINOLOGY</STRONG></h4>
  </div>
  <div data-toggle-target="togglableElement" class="d-none">
    <%= render "terminologies/terminology" %>
  </div>
</div>

  <div data-controller="toggle">
  <div data-action="click->toggle#fire" class="tab">
    <h4><STRONG>EQUIPMENT NEEDS</STRONG></h4>
  </div>
  <div data-toggle-target="togglableElement" class="d-none">
    <%= render "equipment_needs/equipment_need" %>
  </div>
</div>

  <div data-controller="toggle">
  <div data-action="click->toggle#fire" class="tab">
    <h4><STRONG>HISTORY</STRONG></h4>
  </div>
  <div data-toggle-target="togglableElement" class="d-none">
    <%= render "histories/history" %>
  </div>
</div>

