<h1><%= @sport.name %></h1>
  <%= simple_form_for [@sport, @favourite] do |f| %>
    <%= f.submit "❤️" %>
   <% end %>
<br>
<%= link_to "edit this sport", edit_sport_path if current_user && policy(Sport).edit?%>
<%= link_to "All sports", sports_path%>
<%= link_to "Chatroom", sport_chatroom_path(@sport, @chatroom) %>
<br>
<br>
<div class="tab">
  <h4><STRONG>OVERVIEW</STRONG></h4>
</div>
  <%= render "overviews/overview" %>
<div class="tab">
  <h4><STRONG><%= link_to "POSITIONS", sport_positions_path(@sport) %></STRONG></h4>
</div>

<div class="tab">
  <h4><STRONG>RULES</STRONG></h4>
</div>
  <%= render "rules/rule" %>
<div class="tab">
  <h4><STRONG>TERMINOLOGY</STRONG></h4>
</div>
  <%= render "terminologies/terminology" %>
<div class="tab">
  <h4><STRONG>EQUIPMENT NEEDS</STRONG></h4>
</div>
  <%= render "equipment_needs/equipment_need" %>
<div class="tab">
  <h4><STRONG>HISTORY</STRONG></h4>
</div>
  <%= render "histories/history" %>
