<div id="equipment_needs">
  <p><strong>FOOTWEAR:</strong> <%= @sport.footwear %></p>
  <p><strong>REQUIRED EQUIPMENT:</strong> <%= @sport.required_equipment %></p>
  <p><strong>SAFETY GEAR:</strong><%= @sport.safety_gear %></p>
  <p><strong>INFRASTRUCTURE:</strong> <%= @sport.infrastructure %></p>
  <p><strong>CLOTHING:</strong> <%= @sport.clothing %></p>
</div>
