<div id="footwear">
  <%= @sport.footwear %>
</div>

<div id="required_equipment">
  <%= @sport.required_equipment %>
</div>

<div id="safety_gear">
  <%= @sport.safety_gear %>
</div>

<div id="infrastructure">
  <%= @sport.infrastructure %>
</div>

<div id="clothing">
  <%= @sport.clothing %>
</div>
