<div class="profile">
  <h1><%= @current_user.username %>'s Profile</h1>
    <div class="edit">
      <%= render_icon "edit" %>
    </div>
</div>

<h4> My <%= render_icon("favourite") =%> Sports</h4>

<% if @favourites.exists? %>
  <% @favourites.each do |favourite| %>
    <% if favourite.sport.name == "Basketball" %>
      <%= link_to render_icon("bball"), sport_path(favourite.sport) %>
    <% elsif favourite.sport.name == "Football" %>
      <%= link_to render_icon("football"), sport_path(favourite.sport) %>
    <% elsif favourite.sport.name == "Rugby Union" %>
      <%= link_to render_icon("rugby"), sport_path(favourite.sport) %>
    <% elsif favourite.sport.name == "American Football" %>
      <%= link_to render_icon("american_foot"), sport_path(favourite.sport) %>
    <% elsif favourite.sport.name == "Baseball" %>
      <%= link_to render_icon("baseball"), sport_path(favourite.sport) %>
    <% elsif favourite.sport.name == "Volleyball" %>
      <%= link_to render_icon("volleyball"), sport_path(favourite.sport) %>
    <% elsif favourite.sport.name == "Ice Hockey" %>
      <%= link_to render_icon("icehockey"), sport_path(favourite.sport) %>
    <% elsif favourite.sport.name == "Curling" %>
      <%= link_to render_icon("curling"), sport_path(favourite.sport) %>
    <% end %>
  <% end %>
<% else %>
  <%= "You haven't added any Sports to you favourites yet" %>
    <%= link_to sports_path do %>
      <%=  render_icon "add" %>
      <% end %>
<% end%>

<h4> My <%= render_icon("favourite") %> Positions</h4>

<% if @favourite_positions.exists? %>
  <% @favourite_positions.each do |favourite_position| %>
  <% if favourite_position.positions_name == "Point Guard" %>
    <%= link_to render_icon("bball"), sport_position_path(@sport, favourite_position) %>
    <% end %>
  <% end %>
<% else %>
 <%= "You haven't added any Positions to your favourites yet" %>
    <%= link_to sports_path do %>
      <%=  render_icon "add" %>
    <% end %>
  <% end %>
