<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <% unless user_signed_in? %>
    <% if params[:controller] == "sports" && params[:action] == "index" %>
      <%= link_to render_icon("login"), new_user_session_path, class: "nav-link" %>
    <% elsif params[:controller] == "sports" && params[:action] == "show" %>
      <%= link_to render_icon("login"), new_user_session_path, class: "nav-link" %>
      <%= link_to render_icon("all_sports"), sports_path, class: "nav-link"%>
    <% elsif params[:controller] == "positions" && params[:action] == "show" %>
      <%= link_to render_icon("login"), new_user_session_path, class: "nav-link" %>
      <%= link_to render_icon("all_sports"), sports_path, class: "nav-link"%>
    <% elsif params[:controller] == "positions" && params[:action] == "index" %>
      <%= link_to render_icon("login"), new_user_session_path, class: "nav-link" %>
      <%= link_to render_icon("all_sports"), sports_path, class: "nav-link"%>
      <% end %>
  <% else  %>
    <% if params[:controller] == "sports" && params[:action] == "index" %>
      <%= link_to render_icon("profile"), dashboard_path, class: "nav-link"%>
        <%= link_to render_icon("search"), dashboard_path, class: "nav-link" %>
        <%= link_to render_icon("logout"), destroy_user_session_path, data: {turbo_method: :delete} %>
      <% if current_user && policy(Sport).new? %>
        <%= link_to new_sport_path do %>
        <%= render_icon "add" %>
      <% end %>
    <% end %>
    <% elsif params[:controller] == "sports" && params[:action] == "show" %>
      <%= link_to render_icon("all_sports"), sports_path, class: "nav-link"%>
        <%= link_to render_icon("chatroom"), sport_chatroom_path(@sport, @chatroom) %>
        <%= link_to render_icon("search"), dashboard_path, class: "nav-link" %>
        <%= link_to render_icon("profile"), dashboard_path, class: "nav-link"%>
        <%= link_to render_icon("logout"), destroy_user_session_path, data: {turbo_method: :delete} %>
      <% elsif params[:controller] == "positions" && params[:action] == "index" %>
        <%= link_to render_icon("all_sports"), sports_path, class: "nav-link"%>
        <%= link_to render_icon("chatroom"), sport_chatroom_path(@sport, @chatroom) %>
        <%= link_to render_icon("search"), dashboard_path, class: "nav-link" %>
        <%= link_to render_icon("profile"), dashboard_path, class: "nav-link"%>
        <%= link_to render_icon("logout"), destroy_user_session_path, data: {turbo_method: :delete} %>
      <% elsif params[:controller] == "positions" && params[:action] == "show" %>
        <%= link_to render_icon("all_sports"), sports_path, class: "nav-link"%>
        <%= link_to render_icon("chatroom"), sport_chatroom_path(@sport, @chatroom) %>
        <%= link_to render_icon("search"), dashboard_path, class: "nav-link" %>
        <%= link_to render_icon("profile"), dashboard_path, class: "nav-link"%>
        <%= link_to render_icon("logout"), destroy_user_session_path, data: {turbo_method: :delete} %>
      <% elsif params[:controller] == "chatrooms" && params[:action] == "show" %>
        <%= link_to render_icon("all_sports"), sports_path, class: "nav-link"%>
        <%= link_to render_icon("search"), dashboard_path, class: "nav-link" %>
        <%= link_to render_icon("profile"), dashboard_path, class: "nav-link"%>
        <%= link_to render_icon("logout"), destroy_user_session_path, data: {turbo_method: :delete} %>
      <% elsif params[:controller] == "users" && params[:action] == "show" %>
        <%= link_to render_icon("all_sports"), sports_path, class: "nav-link"%>
        <%= link_to render_icon("search"), dashboard_path, class: "nav-link" %>
        <%= link_to render_icon("profile"), dashboard_path, class: "nav-link"%>
        <%= link_to render_icon("logout"), destroy_user_session_path, data: {turbo_method: :delete} %>
      <% end %>
    <% end %>
</div>
