<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <%# <div class="container-fluid">
    <%= link_to "#", class: "navbar-brand" do %>
      <%# <%= image_tag "https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/logo.png" %>
    <%# <% end %>

    <%# <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button> %>

    <%# <div class="collapse navbar-collapse" id="navbarSupportedContent"> %>
      <%# <ul class="navbar-nav me-auto"> %>
        <% if user_signed_in? %>
            <%= link_to "ðŸ ", "#", class: "nav-link" %>
            <%= link_to "âš½", sports_path, class: "nav-link" %>
          <a href="#" class="avatar" id="navbarDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <%= image_tag "https://kitt.lewagon.com/placeholder/users/ssaunier", class: "avatar", alt: "dropdown menu" %>
          </a>
          <%= link_to "ðŸ“ƒ", dashboard_path, class: "nav-link" %>
          <%= link_to "ðŸ”’", destroy_user_session_path, data: {turbo_method: :delete} %>
          <%# <li class="nav-item active">
          </li>
          <li class="nav-item">
          </li>
          <li class="nav-item dropdown">
          </li>
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <%= link_to "Action", "#", class: "dropdown-item" %>
              <%# <%= link_to "Another action", "#", class: "dropdown-item" %>
            <%# </div> %>
          <%# </li> %>
        <% else %>
          <%# <li class="nav-item"> %>
            <%# <%= link_to "Login", new_user_session_path, class: "nav-link" %>
            Sports Companion
          <%# </li> %>
        <% end %>
      <%# </ul> %>
    <%# </div> %>
  <%# </div> %>
</div>
