<div id="invented">
  <p><strong>INVENTED:</strong> <%= @sport.invented %></p>
  <p><strong>CREATOR:</strong> <%= @sport.creator %></p>
  <p><strong>COUNTRY OF ORIGIN:</strong> <%= @sport.country_of_origin %></p>
  <p><strong>MOST SUCCESSFUL TEAMS:</strong> <%= @sport.most_successful_teams %></p>
  <p><strong>MILESTONES:</strong> <%= @sport.milestones %></p>
</div>
