<div id="invented">
  <%= @sport.invented %>
</div>

<div id="creator">
  <%= @sport.creator %>
</div>

<div id="country_of_origin">
  <%= @sport.country_of_origin %>
</div>

<div id="most_successful_teams">
  <%= @sport.most_successful_teams %>
</div>

<div id="milestones">
  <%= @sport.milestones %>
</div>
