<div id="game_duration">
  <%= @sport.game_duration %>
</div>

<div id="scoring">
  <%= @sport.scoring %>
</div>

<div id="player_per_team">
  <%= @sport.player_per_team %>
</div>

<div id="referees">
  <%= @sport.referees %>
</div>

<div id="most_important_rules">
  <%= @sport.most_important_rules %>
</div>

<div id="field_size">
  <%= @sport.field_size %>
</div>

<div id="field_type">
  <%= @sport.field_type %>
</div>
