<div id="game_duration">
  <p><strong>GAME DURATION:</strong> <%= @sport.game_duration %></p>
  <p><strong>SCORING:</strong> <%= @sport.scoring %></p>
  <p><strong>PLAYERS/TEAM:</strong> <%= @sport.player_per_team %></p>
  <p><strong>REFEREES:</strong> <%= @sport.referees %></p>
  <p><strong>MOST IMPORTANT RULES:</strong> <%= @sport.most_important_rules %></p>
  <p><strong>FIELD SIZE:</strong> <%= @sport.field_size %></p>
  <p><strong>FIELD TYPE:</strong> <%= @sport.field_type %></p>
</div>
